
#reviews-container {
  display: flex;
  width: 100%;
  justify-content:flex-end;

}



#spot-review-index {
  margin: 20px 0;
  width: 40%;
  
}
#review-user-stars {
  display: flex;
  gap: 10px;
  border-top: 1px solid lightgray;

  

}
#review-name {
  font-weight:600;
  

}
#username-moment {
  display: flex;
  justify-content: space-between;
  width: 100%;
  

}
#review-review {
  word-wrap: break-word;
  font-size: 14px;
  padding: 5px;
}

@media (max-width: 600px) {
  
}