.createspot-form-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 605px;
  gap: 20px;
  margin: 25px 50px;
  /* border: 1px solid red; */
  background: transparent;
}

.createSpotModal-button {
  background-color: transparent;
  border: none;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
}
.createSpotModal-button:hover {
  border-radius: 30px;
  background-color: whitesmoke;
  color:#FF5A5F;
  padding: 10px;
}

.createspot-outer-most {
  width: 100%;
  /* height: 100%; */
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
}

.createspot-content-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  /* height: 100%; */
  gap: 8px;
  /* border: 1px solid blue; */
  margin-top: 10px;
}

.create-spot-input {
  /* border: 1px solid red; */
  width: 100%;
  height: 30px;
}


.create-errors {
  color: red;
  /* border: 1px solid blue; */
  height: 175px;
  margin-top: 10px;
}
#welcome-spot {
  display: flex;
  justify-content: center;
}
#createspot-button-container {
  /* border: 1px solid green; */
  display: flex;
  justify-content: center;
}
.createspot-pink-buttons {
  width: 50%;
  background-color: #FF385C;
  color: white;
  font-weight: bold;
  border: 1px solid gray;
  margin-top: 10px;
  height: 40px;
  
}

.createspot-pink-buttons:hover {
  cursor: pointer;
}