.booking-dates {
  display: flex;
}

.booking-checkin {

  padding: 0px 10px 10px 10px;
  border: 1px solid darkgray;
  border-radius: 8px 0px 0px 8px;

}

.booking-checkout {

  padding: 0px 10px 10px 10px;
  border: 1px solid darkgray;
  border-left: none;
  border-radius: 0px 8px 8px 0px;

}

.datePicker {
  width: 100px;
  border: none;

}

.check-in-out {
  font-size: 10px;
  padding: 5px;
}

#booking-reserve {
  border: none;
  border-radius: 8px;
  background-color: #FF385C;
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
  margin: 15px 0px;
  width: 100%;
  cursor: pointer;
}


#booking-nocharge {
  text-align: center;
  font-size: 14px;

}

.booking-charges {
  display: flex;
  justify-content: space-between;
  margin: 15px 0px;
}

.booking-fees {
  text-decoration: underline;
}

#total-before {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid darkgray;
  padding: 20px 0px;
  font-weight: 600;
}

/**CONFIRMATION MODAL **/

#booking-conf-modal {
  height: fit-content;
  width: 400px;
  padding: 20px;
}

#bcm-spot-details {
  margin: 20px 0;
  font-size: 14px;
  font-weight: bold;
}

#bcm-dates-container{
  /* border: 1px solid green; */
  height: 100px;
}
#bcm-dates {
  /* border: 1px solid red; */
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.bcm-booking-dates {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.change-confirm {
  border: none;
  background: none;
  color: #FF385C;
  font-weight: 600;
}

.change-confirm:hover {
  cursor: pointer;
}

.bcm-booking-charges {
  display: flex;
  justify-content: space-between;
}
#bcm-booking-total {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid darkgray;
  padding: 20px 0px;
  font-weight: 600;
}

#bcm-bookspot {
  border: none;
  border-radius: 8px;
  background-color: #FF385C;
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
  /* margin: 15px 0px; */
  width: 100%;
  cursor: pointer;

}
