.editspot-form-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 600px;
  gap: 20px;
  margin-top: 25px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 0px;
  border-radius: 14px;
  background: transparent;
}

.editspot-outer-most {
  width: 100%;
}

.editspot-content-area {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 100%;
}

.editspot-pink-buttons {
  width: 100%;
  background-color: #FF385C;
  color: white;
  font-weight: bold;
  border: 1px solid gray;
}

.edit-spot-errors {
  color: red;
}
#welcome-edit {
  display: flex;
  justify-content: center;
}