#dev-icons {
  /* margin: 0px 75px; */
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  box-shadow:  0 3px 5px -2px lightgray;
}
/* #dev-button-container{
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
} */
.fa-github,
.fa-linkedin,
.fa-angellist,
.fa-dev {
  font-size: 25px;
  margin: 25px;
  color: gray;
  cursor: pointer;
}

.fa-github:hover,
.fa-linkedin:hover,
.fa-angellist:hover,
.fa-dev:hover {
  color: #FF5A5F;
  transform: rotate(15deg);
  transition: .25s;
}


#outer-most-spots {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
}

.frame {
  /* margin-top: 100px; */
  display: flex;
  justify-content:flex-start;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; */
  flex-wrap: wrap;
  margin: 0px 75px;
  gap: 40px 25px;
  padding:0px;
  /* row-gap: 25px; */

  /* margin: */
  /* justify-content: flex-start; */
  /* column-gap: 25px;
  row-gap: 25px; */
  /* gap: 50px 44.7px; */
  /* height: 100vh; */
  list-style: none;
  /* justify-items: center; */
  /* border: 2px solid blue; */
  /* width: 85%; */

}
#single-card-img-container{
  /* border: 5px solid slateblue; */
  object-fit: cover;
  height: 260px;
  margin-bottom: 10px;

}

.single-card{
  /* border: 1px solid pink; */
  width: 270px;
}

.spot-image {
  border-radius: 10px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.spot-card-flex-column {
  display: flex;
  flex-direction: column;
  /* margin: 0px 30px; */

}
.spot-price-night {
  display: flex;
  flex-direction: row;
  margin-top: .5em;
  
}
#spot-price {
  font-weight: 600; 
  margin-right: 5px;
}
.cityState-avgRating-flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
}

/* .spot-card {
  font-family: ;
  

} */
.city-state {
  display: inline-block;

  overflow-wrap: break-word;
  word-wrap: break-word;
  width: 250px;
  /* height: 50px; */
}




