#outer-most-details {
  /* border: 1px solid red; */
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

#spot-page {
  /* border: 1px solid orange; */
  width: 59%;

}

#header {
  /* border: 1px solid yellow; */
  display: inline;
  width: 100%;
}

#spot-name {
  padding: 0px
}

#header-details-row {
  /* border: 1px solid green; */
  display: flex;
  gap: 10px;
  font-size: 14px;
  margin-bottom: 10px;
}

#image-container {
  /* border: 1px solid green; */
  width: 100%;
  height: 500px;
  text-align: center;
  gap: 5px;
  /* border-radius: 15px; */
  display: flex;

}

#image {
  width: 50%;
  height: 500px;
  object-fit: cover;
  /* border: 5px solid red; */
  border-radius: 15px 0px 0px 15px;

}
#image-bcde {
  /* border: 1px solid pink; */
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#image-bc {
  /* border: 1px solid red; */
  display: flex;
  height: 50%;
  gap: 5px;

}
 #image-b {
  /* border: 1px solid blue; */
  width: 50%;
 }
 #image-c {
  /* border: 1px solid blue; */
  width: 50%;
  border-radius: 0px 15px 0px 0px;
 }

#image-de {
  /* border: 1px solid red; */
  display: flex;
  height: 50%;
  gap: 5px;

}
#image-d {
  /* border: 1px solid green; */
  width: 50%;
}
#image-e {
  /* border: 1px solid green; */
  width: 50%;
  border-radius: 0px 0px 15px 0px;

}

#details {
  /* border: 1px solid red; */
  margin-top: 40px;
  display: flex;
  gap: 100px
}

#details-left {
  width: 65%;
  /* margin-right: 100px; */
}

#detail-title {
  border-bottom: 1px solid lightgray;
  padding: 10px 0px;

}

.amenities {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid lightgray;
  padding: 20px 0px;

}

.amenities-inline {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px 0px;
}

.aircover {
  padding: 20px 0px;
  border-bottom: 1px solid lightgray;

}

.aircover-description {
  padding: 10px 0px;

}

#spot-description {
  margin: 20px 0;
}

#details-right {
  right: 390px;
  /* top: 673px; */
  width: 375px;
  height: 420px;
  /* border: 1px solid lightgray; */
  box-shadow: 5px 5px 20px 5px lightgray;
  border-radius: 3%;
  /* position: fixed; */
  /* background-color: whitesmoke; */

}

#details-right-container {
  margin: 20px;

}

#spot-details-row {
  display: flex;

}

.spot-detail-price {
  width: 50%;
  display: flex;
  align-items: baseline;
  gap: 5px;
}

#price {
  font-size: 24px;
  font-weight: bold;
}

#rating-reviews {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-self: center;
  font-size: 14px;
  gap: 10px;

}

#reviews {
  /* border: 1px solid red; */
  max-height: 300px;
  margin-top: 10px;
  margin-bottom: 5px;
  overflow-y:auto;
  /* border: 1px solid lightgray; */
  /* border-radius: 10px; */
  /* height: 300px; */
  /* background-color: white; */
  padding: 5px;
  

}

#spot-reviews {
  /* padding: 10px 0px; */

  display: flex;
  flex-direction: column-reverse;

}