



.outer-most-review {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;


}


#myreviews-container {
  display: flex;
  justify-content: center;
}

#myreview-frame {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 50px 44.7px;
  list-style: none;
  justify-items: center;

}
#myreview-one-review {
  box-shadow: 2px 2px 10px 5px lightgray;
  width: 500px;
  border-radius: 3px;
  
}

.review-header {
  /* border: 1px solid red; */
  margin: 10px 10px 0px 10px;
}
#review-for {
  display: flex;
  gap: 5px;
  align-items: baseline;

}
.review-card {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.review-spot-name {
  display: flex;
  align-items: baseline;
  gap: 20px;
}

#spot-name {
  font-size: 20px;
  font-weight: bold;
}




.address-stars {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid blue;

}

#button-holder {
  display: flex;
  justify-content: center;
  margin: 5px;

}
.review-pink-buttons {
  width: 200px;
  background-color: #FF385C;
  color: white;
  font-weight: bold;
  border: 1px solid gray;
}
.leave-review-pink-button {
  width: 100%;
  background-color: #FF385C;
  /* border-radius: 0 0 5px 5px; */
  color: white;
  font-weight: bold;
  border: 1px solid gray;
}


.review-area {
  /* border: 1px solid red; */
  /* display: grid; */
  /* gap: 20px ; */
  height: 200px;
  overflow-wrap: break-word;
  overflow-y: auto;
  margin: 10px;
  padding: 10px;
  background-color: whitesmoke;
  


}

.review-stars-delete {
  display: flex;
  flex-direction: column;

  /* border: 2px solid #FF385C; */
  /* width: 400px; */

  border-radius: 14px;


}