.sign-up-outer-most {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.sign-up-form-content-area {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 100%;
}

.sign-up-jin-pink-buttons {
  width: 100%;
  background-color: #FF385C;
  color: white;
  font-weight: bold;
  border: 1px solid gray;
  /* background: transparent; */
}

#welcome {
  display: flex;
  justify-self: center;
}

.sign-up-errors {
  color: red;
}