.sign-up-outer-most {
  /* margin-left: 450px; */
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  /* background-color: lightgray; */
  /* height: 92vh; */
}

.ebdbbnb-img {
  /* height: 450px; */
  
}

.sign-up-form-content-area {
  /* border: 1px solid blue; */
  margin: 100px;
  
  display: flex;
  /* flex-direction: column; */
  background-color: white;
  box-shadow: 2px 2px 5px 2px lightgray;
  /* padding: 50px; */
  

  
  /* width: 50%; */
}
 .sign-up-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  
  border: 1px solid blue;

 }
 
 .sign-up-jin-pink-buttons {
  /* width: 100%; */
  padding: 15px 25px 15px 25px;
  background-color: #FF385C;
  color: white;
  font-weight: bold;
  border: 1px solid gray;
  /* background: transparent; */
}

#sign-up-errors {
  
}
/* .sign-up-form-content-area {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
}

.sign-up-jin-pink-buttons {
  width: 100%;
  background-color: #FF385C;
  color: white;
  font-weight: bold;
  border: 1px solid gray;
  background: transparent;
}

#welcome-signup {
  display: flex;
}

.sign-up-errors {
  color: red;
}


.error-messages {
  width: 100%;
}  */