.nav-frame {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
  padding: 0 75px;
  height: 75px;
  /* position:fixed;
  width: 100%;
  background-color: white; */
  
}
/* display: flex;
justify-content: space-between;
list-style-type: none;
padding-top: 20px;
padding-bottom: 0px;
height: 20%;
width: 100%;
border-bottom: 1px solid gray;
background: transparent; */

/* .nav-home {
  float: right;
} */
/* #ebdb-container {
  border: 1px solid red;
  width: 166px;
} */

#ebdbbnb-icon {
  display: flex;
  align-items: center;
  height: 25px;
}

.profile-dropdown {
  position: absolute;
  right: 78px;
  /* border: 1px solid lightgray; */
  margin-top: 10px;
  background-color: white;
  width: 300px;
  border-radius: 5px;
  box-shadow: 5px 5px 20px 5px gray;

  
}

.profile-dropdown-username {
  /* padding-left: 6px; */
  margin: 10px 0px;
  border-bottom: 1px solid lightgray;
  padding: 10px 10px 5px 14px;
}
#user-username {
  color: #FF5A5F;
}

.dropdown-top {
  margin-bottom: 10px;
}

.button-style {
  border: none;
  padding: 15px 40px 15px 15px;
  background: transparent;
  width: 100%;
  text-align: left;
}

.button-style:hover {
  cursor: pointer;
  background: rgb(240, 240, 240);
  color: #FF385C;
  font-weight: bold;

}

#drop-menu-icon-style {
  width: 20px;
  border: 2px solid rgb(105, 105, 105);
}


.dropdown-createspot {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;

}

.login-sign-up-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  margin-right: 10px;
}

.sign-up-button:hover {
  color:#FF5A5F;
}


.home-button {
  margin-left: 100%
}

.fa-bars {
  font-size: 16px;
}
.fa-circle-user {
  font-size: 28px;
  color: grey;
}

.icon-drop-menu {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: white;
  border-radius: 30px;
  border: 1px solid lightgrey;
  padding: 5px 5px 5px 13px;

}
.icon-drop-menu:hover {
  transition: .30s;
  box-shadow: 1px 2px 5px 1px lightgray;
  color:#FF5A5F;

}


#search-bar {
  position: center;
  /* left: 300px; */
  outline:none;
}


.search-bar-input {
  border:none;
  /* background-color: whitesmoke; */
  border: 1px solid lightgray;
  box-shadow: 1px 1px 10px 2px lightgray;
  border-radius: 25px;
  height:40px;
  margin-left:5px;
  padding:5px;
  padding-left:8px;
  width: 400px;
}
/* .search-in {
  border: 1px solid red;
} */

.search-results {
  position:absolute;
  display:flex;
  flex-direction: column;
  top:65px;
  /* left: 765px; */
  width:25%;
  z-index: 5;
  border: 1px solid lightgray;
  background-color: #FFFFFF ;
  

}

.search-name {
  display:flex;
  flex-direction: column;
  background-color: #FFFFFF ;
  /* border: 1px solid blue; */
}


.one-search {
  padding: 20px 10px 20px 10px;
  background-color: #FFFFFF ;
  font-size: 15px;
  /* border: 1px solid red; */
}

.one-search:hover {
  background-color: whitesmoke;
}

.search-city-state {
  font-style: italic;
  font-weight: 600;
}