.error-messages {
  color: red;
}
.log-in-not-loggedin{ 
  border: none;
  background: transparent;
  font-size: 16.5px;
  cursor: pointer;
}

.log-in-not-loggedin:hover {
  color:#FF5A5F;
}

.login-form-modal {
  width: 400px;
  height: 550px;
  gap: 20px;
  border-radius: 14px;
  background: transparent;
  border: 10px solid red;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.welcome-message {
  /* display: flex; */
  /* align-items: center; */
}

#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  width: 100%;
  border: 10px solid red;

}

.login-info {
  width: 80%;

}

.error-message-container {
  /* border: 1px solid red; */
  height: 50%;
  width: 100%;
}


.two-buttons-row {
  display: flex;
  /* flex-direction: row; */
  /* justify-content: center; */
}

.pink-buttons {
  width: 200px;
  background-color: #FF385C;
  color: white;
  font-weight: bold;
  border: 1px solid gray;
}